* {
    box-sizing: border-box;
}

body 
{
    margin: 0;
    background-color: darkgrey;
}

.header {
    background-color: #850404;
    padding: 20px;
    color: goldenrod;
    font-size: 130%;
    text-align: center;
}
/* Header */

    .header h3 
    {
        text-decoration: wavy;
        color: darkgoldenrod;
    }

/* Navigation Bar */

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #808080;
}

    .topnav a 
    {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topnav-centered a 
    {
        float:none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .topnav-right
    {
        float: right;
    }

        .topnav a:hover {
            background-color: white;
            color: #808080;
            text-decoration: underline;
            border: 3px #808080;
        }

        .topnavSelected {
            background-color: darkslategrey;
            outline-width: 5px;
            outline-color: darkgoldenrod;
        }

@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }


}

/* About*/
.centralPanel {
    font-size: 120%;
    background-color: indianred;
    margin: 50px;
    height: 300px;
}

.centralPanel img
{
    float: right;
    resize:vertical;
    object-fit: contain;
}